/*===================================
    RESET CSS
===================================*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    -webkit-transition: padding 500ms cubic-bezier(0.05,0.74,0.27,0.99);
    transition: padding 500ms cubic-bezier(0.05,0.74,0.27,0.99);
    color: #626262;
    line-height: 1.77;
    background-color: #f7f8fa;
}

body.has-left-bar {
    padding-left: 70px;
}

body.left-bar-open {
    padding-left: 260px;
}

html, body {
    width: 100%;
    height: 100%;
}

ul, ol {
    margin: 0px;
    padding: 0px;
}

li {
    line-height: 1.8;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
    margin: 0px;
    padding: 0px;
    font-weight: 300;
    margin-bottom: 20px;
}

h1, .h1, h2, .h2, h3, .h3 {
    line-height: 1.3;
}

p {
    margin: 0px;
    margin-bottom: 15px;
}

a, a:hover, a:focus, a:active,
button, button:hover, button:focus, button:active {
    text-decoration: none;
    outline: none;
}

a {
    color: #00BCD4;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

a:focus, a:hover {
    color: #00BCD4;
}

table p {
    margin: 0px;
}

.font-color-1 {
    color: #555;
}

/*================ Buttons =================*/
.btn {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.02em;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    margin-bottom: 0;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #626262;
    background-color: #ffffff;
    text-shadow: none;
    box-shadow: none;
    line-height: 21px;
    padding-left: 17px;
    padding-right: 17px;
    position: relative;
    outline: none !important;
    -webkit-transition: color 0.1s linear 0s, background-color 0.1s linear 0s, border-color 0.08s linear 0s!important;
    transition: color 0.1s linear 0s, background-color 0.1s linear 0s, border-color 0.08s linear 0s!important;
}

.btn-group.open .dropdown-toggle {
    outline: none !important;
    box-shadow: none !important;
}

.btn-rounded {
    border-radius: 50px;
}

.btn-icon {
    min-width: 115px;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
    box-shadow: none !important;
}

.btn:hover {
    background-color: #fcfcfc;
    border: 1px solid rgba(123, 123, 123, 0.15);
}


/*===== Default button ====*/

.btn-default, .btn-default:focus {
    color: #626262 !important;
    background-color: #FFFFFF !important;
    border-color: #EEE !important;
}

.btn-default.hover,
.btn-default:hover,
.open>.dropdown-toggle.btn-default {
    background-color: #F7F8FA !important;
    border-color: #E7E7E7 !important;
    color: #626262 !important;
}

.btn-default.active,
.btn-default:active,
.btn-default.active:focus,
.btn-default:active:focus,
.btn-default.active:hover,
.btn-default:active:hover,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover,
.open>.dropdown-toggle.btn-default.focus {
    background-color: #E7E7E7 !important;
    border-color: #D8D8D8 !important;
    color: #626262 !important;
}


/*===== Primary button ====*/

.btn-primary, .btn-primary:focus {
    color: #ffffff !important;
    background-color: #7E57C2 !important;
    border-color: #7E57C2 !important;
}

.btn-primary.hover,
.btn-primary:hover,
.open>.dropdown-toggle.btn-primary {
    background-color: #9575CD !important;
    border-color: #9575CD !important;
    color: #ffffff !important;
}

.btn-primary.active,
.btn-primary:active,
.btn-primary.active:focus,
.btn-primary:active:focus,
.btn-primary.active:hover,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover,
.open>.dropdown-toggle.btn-primary.focus {
    background-color: #673AB7 !important;
    border-color: #673AB7 !important;
    color: #ffffff !important;
}


/*===== Complete button ====*/

.btn-complete, .btn-complete:focus {
    color: #ffffff !important;
    background-color: #00BCD4 !important;
    border-color: #00BCD4 !important;
}

.btn-complete.hover,
.btn-complete:hover,
.open>.dropdown-toggle.btn-complete {
    background-color: #4DD0E1 !important;
    border-color: #4DD0E1 !important;
    color: #ffffff !important;
}

.btn-complete.active,
.btn-complete:active,
.btn-complete.active:focus,
.btn-complete:active:focus,
.btn-complete.active:hover,
.btn-complete:active:hover,
.open>.dropdown-toggle.btn-complete:focus,
.open>.dropdown-toggle.btn-complete:hover,
.open>.dropdown-toggle.btn-complete.focus {
    background-color: #00ACC1 !important;
    border-color: #00ACC1 !important;
    color: #ffffff !important;
}



/*===== Success button ====*/

.btn-success, .btn-success:focus {
    color: #ffffff !important;
    background-color: #30DDBC !important;
    border-color: #30DDBC !important;
}

.btn-success.hover,
.btn-success:hover,
.open>.dropdown-toggle.btn-success {
    background-color: #38EFCC !important;
    border-color: #38EFCC !important;
    color: #ffffff !important;
}

.btn-success.active,
.btn-success:active,
.btn-success.active:focus,
.btn-success:active:focus,
.btn-success.active:hover,
.btn-success:active:hover,
.open>.dropdown-toggle.btn-success:focus,
.open>.dropdown-toggle.btn-success:hover,
.open>.dropdown-toggle.btn-success.focus {
    background-color: #25CFAE !important;
    border-color: #25CFAE !important;
    color: #ffffff !important;
}



/*===== Danger button ====*/

.btn-danger, .btn-danger:focus {
    color: #ffffff !important;
    background-color: #F95F5B !important;
    border-color: #F95F5B !important;
}

.btn-danger.hover,
.btn-danger:hover,
.open>.dropdown-toggle.btn-danger {
    background-color: #FF7571 !important;
    border-color: #FF7571 !important;
    color: #ffffff !important;
}

.btn-danger.active,
.btn-danger:active,
.btn-danger.active:focus,
.btn-danger:active:focus,
.btn-danger.active:hover,
.btn-danger:active:hover,
.open>.dropdown-toggle.btn-danger:focus,
.open>.dropdown-toggle.btn-danger:hover,
.open>.dropdown-toggle.btn-danger.focus {
    background-color: #EC4945 !important;
    border-color: #EC4945 !important;
    color: #ffffff !important;
}



/*===== Warning button ====*/

.btn-warning, .btn-warning:focus {
    color: #ffffff !important;
    background-color: #F5CD51 !important;
    border-color: #F5CD51 !important;
}

.btn-warning.hover,
.btn-warning:hover,
.open .dropdown-toggle.btn-warning {
    background-color: #FADA74 !important;
    border-color: #FADA74 !important;
    color: #ffffff !important;
}

.btn-warning.active,
.btn-warning:active,
.btn-warning.active:focus,
.btn-warning:active:focus,
.btn-warning.active:hover,
.btn-warning:active:hover,
.open>.dropdown-toggle.btn-warning:focus,
.open>.dropdown-toggle.btn-warning:hover,
.open>.dropdown-toggle.btn-warning.focus {
    background-color: #E8C041 !important;
    border-color: #E8C041 !important;
    color: #ffffff !important;
}

/*===== Info button ====*/

.btn-info, .btn-info:focus {
    color: #ffffff !important;
    background-color: #37434D !important;
    border-color: #37434D !important;
}

.btn-info.hover,
.btn-info:hover,
.open .dropdown-toggle.btn-info {
    background-color: #545F6B !important;
    border-color: #545F6B !important;
    color: #ffffff !important;
}

.btn-info.active,
.btn-info:active,
.btn-info.active:focus,
.btn-info:active:focus,
.btn-info.active:hover,
.btn-info:active:hover,
.open>.dropdown-toggle.btn-info:focus,
.open>.dropdown-toggle.btn-info:hover,
.open>.dropdown-toggle.btn-info.focus {
    background-color: #292B42 !important;
    border-color: #292B42 !important;
    color: #ffffff !important;
}



/*================ Button size ===============*/

.btn-lg, .btn-group-lg>.btn {
    padding-left: 28px;
    padding-right: 28px;
    line-height: 21px;
}

.btn-sm, .btn-group-sm>.btn {
    padding-left: 14px;
    padding-right: 14px;
    font-size: 12px;
    line-height: 18px;
}

.btn-xs, .btn-group-xs>.btn {
    padding: 2px 10px;
    font-size: 10.5px;
    line-height: 17px;
}

/*================ Button mn Group ===============*/


.btn-mini-group.dropdown-default .btn.dropdown-toggle {
    text-align: center;
    padding-right: 17px;
    min-width: inherit;
}
.btn-mini-group.dropdown-default .btn.dropdown-toggle.btn-sm {
    padding-right: 14px;
}
.btn-mini-group.dropdown-default .dropdown-menu {
    min-width: inherit;
    width: 100%;
    padding: 40px 0px 7px 0!important;
}
.btn-mini-group.dropdown-default .dropdown-menu li {}
.btn-mini-group.dropdown-default .dropdown-menu li a {
    padding: 7px 13px;
    text-align: center;
    border-radius: 0px !important;
}


.btn-mini-group.dropdown-default .btn-primary+.dropdown-menu:after,
.btn-mini-group.dropdown-default .btn-complete+.dropdown-menu:after,
.btn-mini-group.dropdown-default .btn-success+.dropdown-menu:after,
.btn-mini-group.dropdown-default .btn-warning+.dropdown-menu:after,
.btn-mini-group.dropdown-default .btn-danger+.dropdown-menu:after,
.btn-mini-group.dropdown-default .btn-info+.dropdown-menu:after {
    top: 0px;
    height: 43px;
    border-radius: 3px 3px 0px 0px;
}

.btn-mini-group.dropdown-default .btn-primary+.dropdown-menu:after {
    background-color: #7E57C2;
}

.btn-mini-group.dropdown-default .btn-complete+.dropdown-menu:after {
    background-color: #00BCD4;
}

.btn-mini-group.dropdown-default .btn-success+.dropdown-menu:after {
    background-color: #30DDBC;
}

.btn-mini-group.dropdown-default .btn-warning+.dropdown-menu:after {
    background-color: #F5CD51;
}

.btn-mini-group.dropdown-default .btn-danger+.dropdown-menu:after {
    background-color: #F95F5B;
}

.btn-mini-group.dropdown-default .btn-info+.dropdown-menu:after {
    background-color: #37434D;
}



/*================ Animated button ===============*/

.btn-animated {
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.btn-animated:before {
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 2.5;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.btn-animated:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.btn-animated.fa:before {
    font-family: "FontAwesome";
}

.btn-animated.from-left:before {
    left: -100%;
    top: 0;
}

.btn-animated.from-top:before {
    left: 0;
    top: -100%;
}

.btn-animated.from-left:hover:before,
.btn-animated.from-left.show-icon:before,
.open .btn-animated.from-left:before,
.btn-animated.from-left.active:before {
    left: 0;
}

.btn-animated.from-top:hover:before,
.btn-animated.from-top.show-icon:before,
.open .btn-animated.from-top:before,
.btn-animated.from-top.active:before {
    top: 0;
}

.btn-animated > span {
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.btn-animated.from-left:hover > span,
.btn-animated.from-left.show-icon > span,
.open .btn-animated.from-left > span,
.btn-animated.from-left.active > span {
    -webkit-transform: translateX(200%);
    -ms-transform: translateX(200%);
    transform: translateX(200%);
}

.btn-animated.from-top:hover > span,
.btn-animated.from-top.show-icon > span,
.open .btn-animated.from-top > span,
.btn-animated.from-top.active > span {
    -webkit-transform: translateY(300%);
    -ms-transform: translateY(300%);
    transform: translateY(300%);
}






/*===================================
    Labels
===================================*/

.label {
    font-size: 82%;
    letter-spacing: .3px;
}

.label-primary {
    background-color: #7E57C2;
}
.label-success {
    background-color: #30DDBC;
}


/*===================================
    GLOBAL
===================================*/
.m-5 { margin: 5px !important; }
.m-10 { margin: 10px !important; }
.m-15 { margin: 15px !important; }
.m-20 { margin: 20px !important; }
.m-30 { margin: 30px !important; }
.m-40 { margin: 40px !important; }
.m-50 { margin: 50px !important; }

.m-t-5 { margin-top: 5px !important; }
.m-r-5 { margin-right: 5px !important; }
.m-b-5 { margin-bottom: 5px !important; }
.m-l-5 { margin-left: 5px !important; }

.m-t-10 { margin-top: 10px !important; }
.m-r-10 { margin-right: 10px !important; }
.m-b-10 { margin-bottom: 10px !important; }
.m-l-10 { margin-left: 10px !important; }

.m-t-15 { margin-top: 15px !important; }
.m-r-15 { margin-right: 15px !important; }
.m-b-15 { margin-bottom: 15px !important; }
.m-l-15 { margin-left: 15px !important; }

.m-t-20 { margin-top: 20px !important; }
.m-r-20 { margin-right: 20px !important; }
.m-b-20 { margin-bottom: 20px !important; }
.m-l-20 { margin-left: 20px !important; }

.m-t-30 { margin-top: 30px !important; }
.m-r-30 { margin-right: 30px !important; }
.m-b-30 { margin-bottom: 30px !important; }
.m-l-30 { margin-left: 30px !important; }

.m-t-40 { margin-top: 40px !important; }
.m-r-40 { margin-right: 40px !important; }
.m-b-40 { margin-bottom: 40px !important; }
.m-l-40 { margin-left: 40px !important; }

.m-t-50 { margin-top: 50px !important; }
.m-r-50 { margin-right: 50px !important; }
.m-b-50 { margin-bottom: 50px !important; }
.m-l-50 { margin-left: 50px !important; }


.m-none { margin: 0px !important; }
.m-t-none { margin-top: 0px !important; }
.m-r-none { margin-right: 0px !important; }
.m-b-none { margin-bottom: 0px !important; }
.m-l-none { margin-left: 0px !important; }

.p-2 { padding: 2px !important; }
.p-5 { padding: 5px !important; }
.p-10 { padding: 10px !important; }
.p-15 { padding: 15px !important; }
.p-20 { padding: 20px !important; }
.p-30 { padding: 30px !important; }
.p-50 { padding: 50px !important; }
.p-70 { padding: 70px !important; }
.p-100 { padding: 100px !important; }

.p-t-2 { padding-top: 2px !important; }
.p-r-2 { padding-right: 2px !important; }
.p-b-2 { padding-bottom: 2px !important; }
.p-l-2 { padding-left: 2px !important; }

.p-t-5 { padding-top: 5px !important; }
.p-r-5 { padding-right: 5px !important; }
.p-b-5 { padding-bottom: 5px !important; }
.p-l-5 { padding-left: 5px !important; }

.p-t-10 { padding-top: 10px !important; }
.p-r-10 { padding-right: 10px !important; }
.p-b-10 { padding-bottom: 10px !important; }
.p-l-10 { padding-left: 10px !important; }

.p-t-15 { padding-top: 15px !important; }
.p-r-15 { padding-right: 15px !important; }
.p-b-15 { padding-bottom: 15px !important; }
.p-l-15 { padding-left: 15px !important; }

.p-t-20 { padding-top: 20px !important; }
.p-r-20 { padding-right: 20px !important; }
.p-b-20 { padding-bottom: 20px !important; }
.p-l-20 { padding-left: 20px !important; }

.p-t-30 { padding-top: 30px !important; }
.p-r-30 { padding-right: 30px !important; }
.p-b-30 { padding-bottom: 30px !important; }
.p-l-30 { padding-left: 30px !important; }

.p-t-50 { padding-top: 50px !important; }
.p-r-50 { padding-right: 50px !important; }
.p-b-50 { padding-bottom: 50px !important; }
.p-l-50 { padding-left: 50px !important; }

.p-t-70 { padding-top: 70px !important; }
.p-r-70 { padding-right: 70px !important; }
.p-b-70 { padding-bottom: 70px !important; }
.p-l-70 { padding-left: 70px !important; }

.p-t-100 { padding-top: 100px !important; }
.p-r-100 { padding-right: 100px !important; }
.p-b-100 { padding-bottom: 100px !important; }
.p-l-100 { padding-left: 100px !important; }


.p-none { padding: 0px !important; }
.p-t-none { padding-top: 0px !important; }
.p-r-none { padding-right: 0px !important; }
.p-b-none { padding-bottom: 0px !important; }
.p-l-none { padding-left: 0px !important; }


.last-child-m-b-n > *:last-child {
    margin-bottom: 0px;
}

.bold {
    font-weight: 600 !important;
    letter-spacing: .5px;
}

.row.row-20 {
    margin-left: -20px;
    margin-right: -20px;
}

.v-align-middle {
    vertical-align: middle;
}

.inline-block {
    display: inline-block;
}

.bg-white { background-color: #fff !important; }
.bg-parent { background-color: #f9f9f9 !important; }
.bg-primary { background-color: #7E57C2 !important; }
.bg-complete { background-color: #00BCD4 !important; }
.bg-complete-darker { background-color: #2B6A94 !important; }
.bg-success { background-color: #30DDBC !important; }
.bg-warning { background-color: #F5CD51 !important; }
.bg-danger { background-color: #F95F5B !important; }
.bg-info { background-color: #37434D !important; }
.bg-hint { background-color: #919191 !important; }

.text-white { color: #fff !important; }
.text-primary { color: #7E57C2 !important; }
.text-complete { color: #00BCD4 !important; }
.text-complete-darker { color: #2B6A94 !important; }
.text-success { color: #30DDBC !important; }
.text-warning { color: #F5CD51 !important; }
.text-danger { color: #F95F5B !important; }
.text-info { color: #37434D !important; }
.text-hint { color: #919191 !important; }
.text-default { color: #626262 !important; }

.text-underline {
    text-decoration: underline;
}



.z-shad-1 {
    border: 1px solid #EFEFEF;
    box-shadow: 0px 1px 2px #EFEFEF;
}


.cp-clickable {
    cursor: pointer;
}

.cp-linkable {
    position: relative;
}
.cp-linkable .cp-area-link {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 3;
    text-indent: 99999999px;
    display: block;
    white-space: nowrap;
    opacity: 0;
}


.relative {
    position: relative;
}

.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.jumbo-container {
    padding-top: 80px;
    padding-bottom: 80px;
}

.container-printable {
    width: 800px;
}

body.has-top-bar .wrapper {
    padding-top: 60px;
}

.wrapper-bottom-sec {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.app-logo-inner {
    margin-bottom: 50px;
}

.page-header {
    margin-top: 28px;
}

.page-title {
    margin: 0px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

/*========Typography========*/

code {
    font-size: 11px;
    color: #00BCD4;
    background-color: #F7F8FA;
}

.text-sm {
    font-size: 11.5px;
}

.error-title-404 {
    font-size: 70px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 30px;
}


.font-45 {
    font-size: 45px !important;
}
.font-15 {
    font-size: 15px !important;
}



/*== Post Typography ==*/

.article-content {}

.article-content ul,
.article-content ol {
    padding-left: 25px;
    margin-bottom: 25px;
    margin-top: 10px;
}

.article-content ul li,
.article-content ol li {
    margin-bottom: 5px;
}

.article-content ul li:last-child,
.article-content ol li:last-child {
    margin-bottom: 0px;
}

.article-content h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin-bottom: 10px;
}

.article-content p {
    margin-bottom: 25px;
}

.article-content *:last-child {
    margin-bottom: 0px;
}


/*======= Bootstrap panel =====*/

.panel {
    border-radius: 0px;
    margin-bottom: 30px;
    border: none;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
}

.panel.panel-less {
    box-shadow: none !important;
}

.panel.panel-transparent {
    background-color: transparent;
    box-shadow: none;
}
.panel-heading {
    padding: 20px;
}

.panel-30 .panel-heading {
    padding: 30px;
}

.panel-title {
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
}

.panel-title.panel-title-15 {
    font-size: 15px;
}
.panel-body {
    padding: 20px;
    padding-top: 0px;
}


.panel-30 .panel-body {
    padding: 30px;
    padding-top: 0px;
}

.panel-other-acction {
    color: #8B93A5;
    line-height: 2;
}
.panel-other-acction a {
    border-bottom: 1px solid;
}

.panel.tab-content {
    border-top: none;
}

.panel.panel-hoverd {
    -webkit-transition: all .15s;
    transition: all .15s;
}
.panel.panel-hoverd:hover {
    box-shadow: 0 4px 13px 0 rgba(0,0,0,0.2);
}


.content-tight-panel {
    float: right;
    width: 330px;
    max-width: 100%;
    margin-left: 30px;
    margin-bottom: 30px;
}

.content-tight-panel .panel {
    box-shadow: none;
    background: #f7f8fa;
    border: 1px solid rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {

    .content-tight-panel {
        width: 100%;
        float: none;
        margin-left: 0px;
    }

}

/*===================================
    TAB
===================================*/

.nav-tabs {
    border-bottom: 1px solid #eaeaea;
}
.nav-tabs>li>a {
    color: #888;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #00BCD4;
    border: 1px solid #eaeaea;
    border-bottom-color: transparent;
}


/*===================================
    LEFT NAVBAR
===================================*/

.bar-setting {
    display: block;
    color: #2A2E36;
    width: 78px;
    height: 60px;
    font-size: 21px;
    text-align: center;
    line-height: 60px;
    float: right;
}

.left-bar-open .bar-setting,
.bar-setting:focus,
.bar-setting:active,
.bar-setting:hover {
    color: #292B42;
}

.left-nav-bar .app-logo {
    padding-left: 30px;
}

.left-nav-bar {
    position: fixed;
    left: 0px;
    padding-top: 60px;
    width: 260px;
    background-color: #292B42;
    background-color: #2B2D44;
    background-color: #2a2e36;
    height: 100%;
    margin-left: -190px;
    z-index: 999;
    box-shadow: 0px 0px 3px #ddd;
    -webkit-transition: all 500ms cubic-bezier(0.05,0.74,0.27,0.99);
    transition: all 500ms cubic-bezier(0.05,0.74,0.27,0.99);
}

.left-bar-open .left-nav-bar {
    margin-left: 0px;
}

.left-nav-bar:hover {
    margin-left: 0px;
}

.left-nav-bar .nav-top-sec {
    height: 60px;
    background-color: #FFFFFF;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
}

.left-navigation {
    padding: 15px 0px;
}

.left-nav-bar .left-navigation ul,
.left-nav-bar .left-navigation li {
    margin: 0px;
}
.left-nav-bar .left-navigation li {
    position: relative;
    list-style: none;
    line-height: 1.43;
}

.left-nav-bar .left-navigation > li {
    margin-bottom: 1px;
}

.left-nav-bar .left-navigation li a:before,
.left-nav-bar .left-navigation li a:after {
    content: "";
    display: table;
}

.left-nav-bar .left-navigation li a:after {
    clear: both;
}

.left-nav-bar .left-navigation li a {
    display: block;
    color: #aeb2b7;
    padding: 20px 20px 20px 30px;
    font-size: 14px;
    font-weight: 400;
}

.left-nav-bar .left-navigation li a .menu-text {
    float: left
}

.left-nav-bar .left-navigation li a .menu-thumb {
    float: right;
    font-size: 16px;
    text-align: center;
    margin-top: -2px;
    width: 30px;
}


.left-nav-bar .left-navigation > li:hover > a,
.left-nav-bar .left-navigation > li.active > a,
.left-nav-bar .left-navigation > li.init-sub-open > a,
.left-nav-bar .left-navigation > li.sub-open > a {
    color: #FFFFFF;
    background-color: #30353E;
}


.left-nav-bar .left-navigation li.init-sub-open > a,
.left-nav-bar .left-navigation li.sub-open > a {
    color: #aeb2b7;
}

.left-nav-bar .left-navigation .sub li.active > a {
    color: #fff !important;
}

.left-nav-bar .left-navigation .sub li a .menu-thumb {
    font-size: 13px;
    text-transform: lowercase;
}

.left-nav-bar .left-navigation li a .arrow {
    display: none;
}

.left-bar-open .left-nav-bar .left-navigation li a .arrow,
.left-nav-bar:hover .left-navigation li a .arrow {
    display: block;
}

.left-nav-bar .left-navigation li a .arrow:after {
    content: "\f107";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    position: absolute;
    top: 22px;
    right: 70px;
}

.left-nav-bar .left-navigation li.sub-open a .arrow:after {
    -webkit-transform: rotate(-180deg);
}



.left-nav-bar .left-navigation li .sub {
    display: none;
    background-color: #30353e;
    padding: 0px 0px 15px;
}
.left-nav-bar .left-navigation li.init-sub-open .sub {
    display: block;
}

.left-nav-bar .left-navigation li .sub li > a {
    padding: 15px 20px 15px 40px;
    font-size: 13px;
}

.left-nav-bar .left-navigation li .sub li:hover > a {
    color: #fff;
}

.nav-bottom-sec {
    height: 100%;
    width: 100%;
}



/*===================================
    TOP BAR
===================================*/
.top-bar {
    background-color: #FFFFFF;
    min-height: 61px;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 3px #EFEFEF;
    z-index: 888;
    border-bottom: 1px solid #EFEFEF;
}

.app-logo {
    float: left;
    padding: 20px 30px;
}

.top-info-bar {
    float: left;
    padding-left: 15px;
    margin-left: 8px;
    margin-top: 15px;
}

.top-info-bar .bar-notification {
    display: inline-block;
    margin-right: 5px;
}
.top-info-bar .bar-notification > a {
    color: #bbb;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    position: relative;
    font-size: 15px;
}

.top-info-bar .open.bar-notification > a,
.top-info-bar .bar-notification > a:hover {
    color: #00BCD4;
}

.top-info-bar .bar-notification > a:after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #E87979;
    top: 2px;
    right: 3px;
    display: none;
}
.top-info-bar .bar-notification.active > a:after {
    display: block;
}

.top-bar > .navbar-right {
    margin: 0px;
    padding-right: 30px;
    float: right;
}
.user-profile {
    margin-top: 13px;
}
.user-profile > a {
    display: block;
}
.user-profile .user-image {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.user-profile .user-info {
    color: #222;
    margin-right: 5px;
}
.user-info .user-role {
    color: #00BCD4;
}

.top-bar .navbar-nav {
    margin-top: 5px;
}

.top-bar .navbar-header {
    margin-top: 5px;
}
.top-bar .navbar-header .navbar-brand {
    margin-right: 100px;
}

.nav > li > a {
    color: #222;
}

.nav > li > a:focus,
.nav > li > a:hover,
.nav > li.active > a{
    color: #00BCD4;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
    background: none;
}

.navbar-toggle {
    padding: 5px 11px 3px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    font-size: 14px;
}

@media screen and (max-width: 767px) {
    .navbar-brand {
    }
}



/*================== Reset Dropdown ================*/

.dropdown-menu {
    box-shadow: 0px 0px 5px rgba(98, 98, 98, 0.34);
    padding: 0px;
    border-radius: 3px;
    margin: 0px;
    min-width: 130px;
    margin-top: 10px;
    display: block;
    opacity: 0;
    z-index: 99999999999999999;
    backface-visibility: hidden;
    transform: scale(1,0);
    transform-origin: center top 0;
    -webkit-transition: all 170ms cubic-bezier(0.05,0.74,0.27,0.99) 0s;
    transition: all 170ms cubic-bezier(0.05,0.74,0.27,0.99) 0s;
    border: none;
}

.dropup .dropdown-menu {
    transform-origin: center bottom 0;
}

.dropdown-menu.arrow:before {
    position: absolute;
    top: -7px;
    left: 7px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(121, 121, 121, 0.3);
    content: '';
}
.dropdown-menu.arrow:after {
    position: absolute;
    top: -6px;
    left: 8px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}

.dropdown-menu.arrow.right-arrow:before {
    right: 15px;
    left: auto;
}
.dropdown-menu.arrow.right-arrow:after {
    right: 16px;
    left: auto;
}

.open > .dropdown-menu {
    opacity: 1;
    transform: scale(1,1);
}

.dropdown-menu li:first-child {
    margin-top: 12px;

}

.dropdown-menu li a {
    color: #8F9098;
    padding: 7px 20px;
    font-size: 13px;
}

.dropdown-menu li a i {
    width: 22px;
}

.dropdown-menu li a:hover {
    background-color: transparent;
    color: #626262;
}
.dropdown-menu li.bg-dark {
    background-color: #F7F8FA;
    margin-top: 7px;
}
.dropdown-menu li.bg-dark a {
    padding: 12px 20px;
}
.dropdown-menu li.bg-dark a i {
    width: auto;
}


.btn-mini-group .dropdown-menu li a i {
    width: auto;
}



/*========= Date Time Picker ========*/

.bootstrap-datetimepicker-widget {
    opacity: 1;
    z-index: 2;
    transform: scale(1,1);
}







/*========= Dropdown button group ========*/

.dropdown-default .btn.dropdown-toggle {
    text-align: left;
    padding-right: 27px;
    min-width: 130px;
}

.dropdown-default.open>.btn.dropdown-toggle {
    border-color: transparent!important;
    background: transparent!important;
    z-index: 10!important;
}

.dropdown-default .dropdown-menu {
    margin-top: -40px;
    padding: 42px 0px 12px 0!important;
    background-color: #fafafa;
}

.dropdown-default.dropup .dropdown-menu {
    margin-bottom: -40px;
    padding: 0 3px 52px 0!important;
    transform-origin: center bottom 0;
    background-color: #fafafa;
}

.dropdown-default .dropdown-menu li a,
.dropdown-default .dropdown-menu li a:focus {
    color: #626262;
}

.dropdown-default .dropdown-menu li a:hover,
.dropdown-default .dropdown-menu li a:active {
    color: #000;
}

.dropdown-default.open>.btn.dropdown-toggle {
    border-color: transparent!important;
    background: transparent!important;
    z-index: 666!important;
    box-shadow: none;
}

.dropdown-default.dropup .dropdown-menu:after {
    bottom: 43px;
    top: auto!important;
}

.dropdown-default .dropdown-menu:after {
    content: "";
    position: absolute;
    height: 1px;
    left: 0;
    top: 42px;
    background: #e6e6e6;
    width: 100%;
}

.dropdown-default .btn.dropdown-toggle .caret {
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -2px;
}



/*============= Bar Notification menus =============*/

.bar-notification .dropdown-menu {
    width: 220px;
}

.bar-notification .dropdown-menu li {
    border-bottom: 1px solid #F7F8FA;
}

.bar-notification .dropdown-menu li a {
    display: block;
    overflow: hidden;
    padding: 10px 15px;
    font-size: 13px;
    color: #626262;
}
.bar-notification .dropdown-menu li a:hover {
    background-color: #F7F8FA;
}

.bar-notification .dropdown-menu li:first-child {
    margin-top: 8px;
}
.bar-notification .dropdown-menu li.title {
    padding: 10px 15px;
    font-size: 12px;
}

.bar-notification .dropdown-menu li.footer {
    border: none;
    text-align: center;
}

.bar-notification .dropdown-menu li.footer a {
    background-color: transparent !important;
    font-size: 11px;
}

.bar-notification .dropdown-menu li.footer a:hover {
    color: #00BCD4;
}



.user-dropdown li .user-thumb {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}
.user-dropdown li .user-name {
    display: inline-block;
    vertical-align: middle;
}



.bar-notification .message-dropdown {
    width: 350px;
}
.message-dropdown li .name {
    color: #00BCD4;
}
.message-dropdown li .name span {
    float: right;
    color: #CCCCCC;
    font-size: 11px;
}
.message-dropdown li .message {
    overflow: hidden;
}



/*============== Notification & Alert =============*/

.alert {
    border-width: 0px;
    font-style: 13px;
}

.alert.bordered {
    border-width: 1px;
}

.alert-success {
    color: #219982;
    background-color: #C9F0E9;
    border-color: #B1E5DC;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #F5F1DA;
    border-color: #EDE7C1;
}


.alertify-logs {
    right: 30px;
    bottom: 15px;
    width: auto;
}

.alertify-top .alertify-logs {
    top: 75px;
    bottom: auto;
}

.alertify-log {
    text-shadow: none !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    color: #fff;
    border-width: 0px;
    margin-top: 15px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 6px 0 rgba(0, 0, 0, 0.12);
}

.alertify-border .alertify-log {
    border-width: 1px;
}

.alertify-top .alertify-log {
    margin: 0px;
    margin-bottom: 15px;
}

.alertify-log-success {
    background-color: #30DDBC;
}
.alertify-log-error {
    background-color: #F95F5B;
}
.alertify-log-info {
    background-color: #00BCD4;
}
.alertify-log-warning {
    background-color: #F5CD51;
}


.alertify-log * {
    vertical-align: middle;
}

.alertify-log i {
    font-size: 18px;
    margin-right: 5px;
}





/*================= Tooltip ================*/


.tooltip-inner {
    padding: 4px 8px;
    color: #FFFFFF;
    background-color: #2B2D44;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #2B2D44;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #2B2D44;
}
.tooltip.left .tooltip-arrow {
    border-left-color: #2B2D44;
}
.tooltip.right .tooltip-arrow {
    border-right-color: #2B2D44;
}


/*=============== Form ==============*/

.form-some-up {
    margin-top: -8px;
}

.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid rgba(0,0,0,.07);
    -webkit-appearance: none;
    color: #443;
    outline: none !important;
    height: 42px;
    line-height: normal;
    font-size: 13px;
    font-weight: 400;
    vertical-align: middle;
    min-height: 42px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all .2s linear 0s;
    transition: all .2s linear 0s;
}

.form-control:disabled {
    background: #f8f8f8;
    /*color: rgba(90,90,90,.23);*/
    color: #666;
}

.form-control:focus {
    border-color: #D2D2D2;
}

.form-group {
    margin-bottom: 15px;
    position: relative !important;
}

.form-group-default {
    position: relative;
}

.form-group label:not(.error) {
    font-weight: 500;
    font-size: 11px;
    letter-spacing: .5px;
    text-transform: uppercase;
    -webkit-transition: color .2s linear 0s;

    transition: color .2s linear 0s;
}

.form-group-default label {
    position: absolute;
    margin: 0;
    width: 100%;
    padding: 8px 13px 0px;
    color: #626262;
}

.form-group-default.filled label,
.form-group-default.focused label,
.form-group-default.disabled label {
    color: #bbb;
}

.form-group-default .form-control {
    background: #fff;
    border: 1px solid #E8E9F0;
    padding: 36px 13px 17px;
    height: 70px !important;
}


.form-group-default .form-control:focus {
    background: #f8f8f8;
}


.form-group-default.required:after {
    color: #f35958;
    content: "*";
    font-family: arial;
    font-size: 20px;
    position: absolute;
    right: 12px;
    top: 4px;
}

.form-inline .form-control.input-sm {
    padding: 5px 10px;
    height: 34px;
    min-height: 34px;
    line-height: 1.7;
}


input[readonly] {
    cursor: not-allowed;
}


.input-group-file input[type=text] {
    min-height: 35px;
    height: 35px;
}

.label-link {
    display: inline-block;
    font-weight: 500;
    font-size: 11px;
    letter-spacing: .5px;
    text-transform: uppercase;
}
.label-link a {}

@media only screen and (min-width: 768px){
    form .row {
        margin-left: -7px;
        margin-right: -7px;
    }

    form .row [class*=col-] {
        padding-left: 7px;
        padding-right: 7px;
    }
}

.help {
    font-size: 11px;
    color: #999;
}






/*================= Checkbox ================*/
.coder-checkbox {
    display: inline-block;
    position: relative;
    min-width: 17px;
    min-height: 17px;
    padding-left: 17px;
    vertical-align: middle;
}
.coder-checkbox input[type=checkbox] {
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0px !important;
    z-index: 2;
    cursor: pointer;
}
.coder-checkbox .co-check-ui {
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid #CCC;
    border-radius: 3px;
    top: 0px;
    left: 0px;
    text-align: center;
    line-height: 15px;
    font-size: 10px;
    z-index: 1;
    cursor: pointer;
}
.coder-checkbox .co-check-ui:after {
    content: "\f00c";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 0;
    transform: scale(0);     transition: all .15s ease;
}
.coder-checkbox input[type=checkbox]:checked + .co-check-ui:after {
    opacity: 1;
    transform: scale(1);
}

.coder-checkbox label {
    margin: 0px;
    line-height: 1.6;
    font-weight: 500;
    display: block;
    margin-left: 8px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .5px;
}


.coder-checkbox input[type=checkbox]:disabled {
    cursor: not-allowed;
}

.coder-checkbox input[type=checkbox]:disabled + .co-check-ui:after {
    color: #bbb;
}

.coder-checkbox input[type=checkbox]:disabled + .co-check-ui + label {
    color: #bbb;
}



/*================= Radio ================*/
.coder-radiobox {
    display: inline-block;
    position: relative;
    min-width: 17px;
    min-height: 17px;
    padding-left: 17px;
    vertical-align: middle;
}
.coder-radiobox input[type=radio] {
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0px !important;
    z-index: 2;
    cursor: pointer;
}
.coder-radiobox .co-radio-ui {
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid #CCC;
    border-radius: 50%;
    top: 0px;
    left: 0px;
    text-align: center;
    line-height: 15px;
    font-size: 8px;
    z-index: 1;
    cursor: pointer;
}
.coder-radiobox .co-radio-ui:after {
    content: "\f111";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 0;
    transform: scale(0);
    transition: all .15s ease;
}
.coder-radiobox input[type=radio]:checked + .co-radio-ui:after {
    opacity: 1;
    transform: scale(1);
}

.coder-radiobox label {
    margin: 0px;
    line-height: 1.6;
    font-weight: 500;
    display: block;
    margin-left: 8px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .5px;
}


.coder-radiobox input[type=radio]:disabled {
    cursor: not-allowed;
}

.coder-radiobox input[type=radio]:disabled + .co-radio-ui:after {
    color: #bbb;
}

.coder-radiobox input[type=radio]:disabled + .co-radio-ui + label {
    color: #bbb;
}




/*td.p-l-100 .col-xs-6 {
    border-top: 1px solid;
    border-right: 1px solid;
    border-color: #a0a0a0;
    padding-top: 5px;
    padding-bottom: 5px;
}

td.p-l-100 .col-xs-6:first-child {
    border-left: 1px solid #a0a0a0;
    background: #eaeaea;
}

td.p-l-100 .row:last-child .col-xs-6 {
    border-bottom: 1px solid #a0a0a0;
}*/
/*================= Table ================*/

.table {
    margin-top: 5px;
}

.table:last-child {
    margin-bottom: 0px;
}

.table thead tr th {
    outline: none;
    padding: 0px 20px 15px;
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
}

.table tbody tr td {
    background: #fff;
    border-bottom: 1px solid rgba(230, 230, 230, 0.7);
    border-top: 0px;
    padding: 20px;
    font-size: 13.5px;
}

.table.table-hover tbody tr:hover > td {
    background-color: #F1F9FF;
}

.table tbody tr:last-child td {
    border-bottom-width: 0px;
}

.table.table-borderless tbody tr td {
    border-top: 0;
}

.table.table-condensed tbody tr td {
    padding-top: 12px;
    padding-bottom: 12px;
}

.table.table-condensed.table-condensed-slim tbody tr td {
    padding: 8px;
}

.table.table-borderless > tbody > tr > td {
    border-bottom: 0px;
}

.table.table-striped tbody tr td {
    background: #FAFAFA !important;
}
.table.table-striped tbody tr:nth-child(2n+1) td {
    background: #fff !important;
}

.table.table-no-border thead tr th {
    border: none;
}

.table.table-no-border tbody tr td {
    border: none;
}

.table.table-no-border.table-condensed tbody tr td {
    padding-top: 8px;
    padding-bottom: 8px;
}

.table.table-no-border.table-condensed thead tr th {
    padding: 0px 14px 12px;
}


.table.table-bordered tr th,
.table.table-bordered tr td {
    border: 1px solid;
}


.table.table-transparent tr th,
.table.table-transparent tr td {
    background: transparent;
}


table.table tr td strong.help-split {
    display: inline-block;
    width: 30%;
}

.table tbody tr td.td-highlighted {
    background-color: #c4e5fd !important;
}


.table tr td.td-b-none {
    border: none !important;
}
.table tr td.td-b-l-none {
    border-left: none !important;
}
.table tr td.td-b-r-none {
    border-right: none !important;
}
.table tr td.td-b-t-none {
    border-top: none !important;
}
.table tr td.td-b-b-none {
    border-bottom: none !important;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    table.table tr td {
        display: block;
    }
    table.table tr td strong.help-split {
        display: inline-block;
        width: 50%;
    }

    /* Force table to not be like tables anymore */
    table.table-ultra-responsive,
    table.table-ultra-responsive thead,
    table.table-ultra-responsive tbody,
    table.table-ultra-responsive th,
    table.table-ultra-responsive td,
    table.table-ultra-responsive tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    table.table-ultra-responsive thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    table.table-ultra-responsive tr { border-bottom: 1px solid #ccc; }

    table.table-ultra-responsive td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 120px !important;
    }

    table.table-ultra-responsive td:before {
        position: absolute;
        top: 20px;
        left: 15px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    .table.table-ultra-responsive.table-condensed tbody tr td:before {
        top: 12px;
    }

    /*
    Label the data
    */
    .table.table-ultra-responsive td:before {
        content: attr(data-label);
    }

    .bill-data-title{
        width: auto !important;
    }
}





/*================ Data Table ================*/

.table.dataTable tbody tr:last-child td {
    border-bottom-width: 1px;
}

.dataTables_length,
.dataTables_filter,
.dataTables_info,
.dataTables_paginate {
    padding: 0px 20px;
}


table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    bottom: auto;
    top: 0px;
    right: 20px;
}

table.dataTable.table-condensed .sorting:after, table.dataTable.table-condensed .sorting_asc:after, table.dataTable.table-condensed .sorting_desc:after {
    top: 0px;
    right: 20px;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 12px 0 10px;
    white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 10px;
    white-space: nowrap;
}




/*=============== Bootstrap Select ==================*/

.bs-actionsbox, .bs-donebutton, .bs-searchbox {
    padding: 8px 8px 6px;
}

.bs-searchbox .form-control {
    margin-bottom: 0;
    width: 100%;
    padding: 8px 12px!important;
    min-height: 34px !important;
    height: 34px !important;
}

.bootstrap-select .dropdown-toggle,
.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
    box-shadow: none !important;
    font-weight: 400;
}

.bootstrap-select.btn-group .dropdown-menu li a .glyphicon,
.bootstrap-select.btn-group .dropdown-toggle .filter-option i {
    width: 18px;
    font-size: 12px;
    margin-top: -2px;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option i {
    font-size: 13px;
    margin-left: 1px;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    width: inherit;
    margin-top: 10px;
    font-size: 11px;
}
.bootstrap-select.btn-group .dropdown-menu li a span {
    vertical-align: middle;
}

.bootstrap-select.form-control>.dropdown-toggle {
    margin: 0px;
    padding: 9px 12px;
}

.form-group.form-group-default .bootstrap-select.btn-group.form-control {
    background-color: transparent;
    border: none;
    padding: 0px;
    height: auto;
}

.form-group.form-group-default .bootstrap-select.form-control>.dropdown-toggle {
    padding: 28px 13px 6px 13px;
    background-color: transparent;
    float: none;
}

.form-group.form-group-default .bootstrap-select.btn-group.form-control .dropdown-toggle .caret {
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: 10px;
    vertical-align: middle;
}





/*================ Modal =================*/

@media (min-width: 768px) {
    .modal-dialog {
        margin-top: 100px;
    }
    .modal-content {
        border-radius: 0px;
        border: none;
        -webkit-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
        box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    }
}


.modal-header {
    padding: 20px 30px;
}

.modal-title {
    text-transform: uppercase;
    color: #2A2E36;
    font-weight: 500;
    font-size: 13px;
}

.modal-body {
    padding: 30px;
}

.modal-footer {
    padding: 20px 30px;
}




/*============= Sweet Alert ============*/

.sweet-overlay {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.sweet-alert {
    padding: 27px 30px 30px !important;
    border-radius: 0px !important;
    -webkit-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.sweet-alert h2 {
    font-weight: 500 !important;
}

.sweet-alert p:last-child {
    margin-bottom: 0px;
}

.sweet-alert .icon {
    margin: 3px auto 20px;
}

.lead {
    font-size: 14px !important;
    font-weight: 400 !important;
}

.text-muted {
    color: #626262 !important;
}






/*=============== pagination ===============*/

.pagination {}

.pagination>li {
    display: inline-block;
}

.pagination>li>a,
.pagination>li>span{
    padding: 0px 7px;
    opacity: .4;
    color: #2A2E36 !important;
    background-color: transparent !important;
    border: none;
    font-size: 12px;
    font-weight: 500;
}

.pagination>li.next {}
.pagination>li.next>a,
.pagination>li.next>span {}

.pagination>li.previous {}
.pagination>li.previous>a,
.pagination>li.previous>span {}

.pagination>li.active {}
.pagination>li.active>a,
.pagination>li.active>span {
    opacity: 1;
}

.pagination>li.disabled {}
.pagination>li.disabled>a,
.pagination>li.disabled>span {}




.pagination>li>a:hover,
.pagination>li>span:hover {
    opacity: .8;
}

.pagination>li.disabled>a:hover,
.pagination>li.disabled>span:hover {
    opacity: .4;
}

.pagination>li.active>a:hover,
.pagination>li.active>span:hover {
    opacity: 1;
}



/*============== Info List ==============*/

.info-list {
    margin: 0px !important;
    padding: 0px !important;
}
.info-list li {
    list-style: none;
    position: relative;
    padding-left: 120px;
    margin-bottom: 12px;
}
.info-list li .info-list-title {
    font-weight: 500;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 105px;
    color: #555;
}
.info-list li .info-list-title:after {
    content: ":";
    position: absolute;
    right: 0px;
}

/*=== Schema 1 ===*/
.info-list.title-space-md li {
    padding-left: 160px;
}
.info-list.title-space-md li .info-list-title {
    width: 145px;
}

/*=== Schema 2 ===*/
.info-list.title-space-lg li {
    padding-left: 220px;
}
.info-list.title-space-lg li .info-list-title {
    width: 200px;
}

/*============== Social buttons ==============*/

.social-module {}
.social-module li {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    margin-right: 5px;
}
.social-module li a {
    display: block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #444;
    color: #FFF;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
}
.social-module li a:hover {
    background-color: #00BCD4;
}

.social-module.social-module-sm li a {
    width: 28px;
    height: 28px;
    line-height: 30px;
    font-size: 12px;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    background: none repeat scroll 0 0 transparent;
    cursor: inherit;
    display: block;
}

/*========== Printable Versin ============*/

.printable-page * {
    color: #000 !important;
    border-color: #000 !important;
}

.printable-page .table tr td,
.printable-page .table tr th {
    border-color: #000 !important;
}